<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>文档标题</title>
	<!-- 优先使用 IE 最新版本和 Chrome -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<!-- 360 使用Google Chrome Frame -->
	<meta name="renderer" content="webkit">
</head>
<body>
	<div id="app">
		<label>
			男：
			<input type="radio" v-model='sex' value="male">
		</label>
		<label>
			女：
			<input type="radio" v-model="sex" value="female">
		</label>
		<br>
		{{sex}}
		<select v-model="from">
			<option value="1">选项一</option>
			<option value="2">选项二</option>
		</select>
		<select v-model='des' multiple="multiple">
			<option value="1">选项一</option>
			<option value="2">选项二</option>
			<option value="3">选项一</option>
			<option value="4">选项二</option>
		</select>{{des}}
	</div>
	<script src="../lib/vue.js"/></script>
	<script src="js/main.js"/></script>
</body>
</html>